
#Color_Text{
    //color: $color-basic-100;
}

.img_1{
    width: 49px;
    height: 70px;
    //margin: 52px;
    vertical-align: middle;
}

.img_2{
    width: 30px;
    height: 30px;
    padding: 0px;
    //margin: 52px;
    vertical-align: middle;
}

.img_3{
    width: 15px;
    height: 15px;
    //margin: 52px;
    vertical-align: middle;
}

small{
    font-size: 10px;
}
