.container {
    background-color: $color-basic-1000;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            margin-left: 20px;
            p{
                font-size: 22px;
                margin: 5px;
            }
        }
    }
}

.container-tab .icon p{
    color: white;
    font-size: 20px;
}

.container-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-time {
    display: inline-flex;
    
    div h2,p{
        color: white;
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;
        margin-left: 0.6em;
    }
    div{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.card {
    display: inline-table;
    border: 1px solid $color-basic-transparent-500;
    border-radius: 3px;
    margin: 10px;
    float: left;
    .Heart-card {
        padding: 10px;
        background-color: $color-basic-800;
        color: $color-primary-100;
        border-bottom: 1px solid $color-basic-900;

        h2{
            text-align: center;
        }
    }
    .Content-card{
        margin: 1.5rem;
    }
}

