
body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: 'Roboto', sans-serif;
}

.nav-horizontal {
  width: 100%;
  background-color: #323259;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}


.display_time {
  display: block;
  margin: 18px 9px 22px 10px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 2px 6px;
  font-size: 25px;
  line-height: 1.42857143;
  border-radius: 8px;
  -webkit-user-select: none;
  user-select: none;
  color: $color-basic-100;
  background-color: $color-basic-800;
}

button{
  display: block;
  margin: 18px 9px 22px 10px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 2px 6px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 8px;
  -webkit-user-select: none;
  user-select: none;
  color: $color-basic-100;
  background-color: $color-basic-800;
}

#root {
  height: 100%;
}

.contenido {
  display: flex;
}

main {
  padding: 0px;
  flex-grow: 1;
  flex-direction: row;
  overflow-y: auto;
  display: flex;
  height: 100%;
  header {
    margin-bottom: 40px;
    border-bottom: 1px solid #efefef;
    h1 {
      display: flex;
      align-items: center;
      transform: translateX(-20px);
    }
  }

  footer {
    margin-top: auto;
    color: #888;
    text-align: center;
    a {
      text-decoration: none;
      color: #888;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }
    .block {
      direction: rtl;
      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}