.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    //border-top: 1px solid $color-basic-transparent-300;
}

.table thead th {
    vertical-align: bottom;
    border-bottom:  2px solid $color-basic-transparent-300;
   
}

.table tbody + tbody {
    border-top: 2px solid $color-basic-transparent-300;
}

thead th {
    color: #ffffff;
}

tbody tr td {
    color: #ffffff;
}

