

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

$color-primary-100: #faf7ff;
$color-primary-200: #ece3ff;
$color-primary-300: #d5bfff;
$color-primary-400: #b18aff;
$color-primary-500: #a16eff;
$color-primary-600: #7b51db;
$color-primary-700: #5a37b8;
$color-primary-800: #3e2494;
$color-primary-900: #29157a;

$color-primary-transparent-100: rgba(161, 110, 255, 0.08);
$color-primary-transparent-200: rgba(161, 110, 255, 0.16);
$color-primary-transparent-300: rgba(161, 110, 255, 0.24);
$color-primary-transparent-400: rgba(161, 110, 255, 0.32);
$color-primary-transparent-500: rgba(161, 110, 255, 0.4);
$color-primary-transparent-600: rgba(161, 110, 255, 0.48);

$color-basic-100: #ffffff;
$color-basic-200: #f7f7fc;
$color-basic-300: #f0f0fa;
$color-basic-400: #e1e1f2;
$color-basic-500: #ceceeb;
$color-basic-600: #b4b4db;
$color-basic-700: #6a6a94;
$color-basic-800: #323259;
$color-basic-900: #252547;
$color-basic-1000: #1b1b38;
$color-basic-1100: #13132b;

$color-basic-transparent-100: rgba(180, 180, 219, 0.08);
$color-basic-transparent-200: rgba(180, 180, 219, 0.16);
$color-basic-transparent-300: rgba(180, 180, 219, 0.24);
$color-basic-transparent-400: rgba(180, 180, 219, 0.32);
$color-basic-transparent-500: rgba(180, 180, 219, 0.4);
$color-basic-transparent-600: rgba(180, 180, 219, 0.48);

$sidebar-bg-color: $color-basic-1100 !default;
$sidebar-color: $color-basic-100 !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: $color-basic-700 !default;
$submenu-bg-color: $color-basic-800 !default;
$submenu-bg-color-collapsed: $color-basic-500 !default;
$icon-bg-color: $color-basic-800 !default;
$icon-size: 35px !default;