<div class="scrollme">
    <table class = "table  table-bordered table-dark " style=" border-collapse: collapse; margin: 0px;">
      <thead >
          <tr> <!-- encabezado de tabla -->
            <td class = "EncabezadoTablas" colspan="6">Telemetria Sonda</td> 
        </tr>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Fecha</th>
          <th scope="col">Temperatura </th>
          <th scope='col'>H Ambiental</th>
          <th scope='col'>Humedad</th>
          <th scope='col'>VCC</th>
        </tr>
      </thead>
    
        <tbody  *ngFor = "let ele of TabSensor; let i=index">
          <td>{{ ele.idSonda}}</td>
          <td>{{ ele.idData | date:'HH:mm:ss   EEEE, MMM d, y'}}</td>
          <td>{{ ele.temperatura}} Cº</td>
          <td>{{ ele.humedad}}%</td>
          <td>{{(((1024  - ele.humedadT)  / 1024) * 100).toFixed(2)}}%</td>
          <td>{{ele.VCC}}</td>
           <!--<td></td>-->
      </tbody>
    
  </table>
  </div>
  <div class="scrollme">
  <table class = "table  table-bordered table-dark" style=" border-collapse: collapse; margin: 0px;">
    <thead class = "thead-dark  ">
        <tr> <!-- encabezado de tabla -->
            <td class = "EncabezadoTablas" colspan="4">Telemetria Caudal</td> 
        </tr>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Caudal </th>
        <th scope='col'>Caudal Total</th>
        </tr>
    </thead>
    <tbody *ngFor = "let ele of TabCaudal">
        <td>1</td>
        <td>{{ele.contador}}</td>
        <td>{{ele.contadorTotal}}</td>
    </tbody>
  </table>
  </div>