
<table class = "table  table-bordered table-dark" style=" border-collapse: collapse; margin: 0px;">
    <thead class = "thead-dark  ">
        <tr> <!-- encabezado de tabla -->
            <td class = "EncabezadoTablas" colspan="4">Telemetria Caudal</td> 
        </tr>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Caudal </th>
        <th scope='col'>Caudal Total</th>
        </tr>
    </thead>
    <!--<tbody *ngFor = "let ele of TabCaudal">
        <td>1</td>
        <td>{{ele.contador}}</td>
        <td>{{ele.contadorTotal}}</td>
    </tbody>-->
</table>