<div class="scrollme">
    <table class = "table table-bordered table-dark " style=" border-collapse: collapse; margin: 0px;">
        <thead>
                <tr> <!-- encabezado de tabla -->
                    <td class = "EncabezadoTablas" colspan="9"> </td> 
                </tr>
            <tr>
                <th scope="col"> nº </th>
                <th scope="col"> Inicio </th>
                <th scope="col"> Final </th>
                <th scope="col"> nº Sec</th>
                <th scope="col"> Inicio  </th>
                <th scope="col"> Final  </th>
                <th scope="col"> Varvulas</th>
                <th scope="col"> Accion </th>
            </tr>

        </thead>
    
        <tbody >
            <ng-container *ngIf="countries.length > 0; else elseTemplate">
                
                <tr *ngFor = "let item of countries; let i = index">
                    <th scope = 'row'>{{item.id}}</th>
                    <td scope = 'row'>{{item.Inicio | date:'HH:mm'}}</td>
                    <td scope = 'row'>{{item.Final  | date:'HH:mm'}}</td>
                    <td scope = 'row'>{{item.orden_secuencia}}</td>
                    <td scope = 'row'>{{item.Secuencias_Activos[item.orden_secuencia].Inicio | date:'HH:mm'}}</td>
                    <td scope = 'row'>{{item.Secuencias_Activos[item.orden_secuencia].Final  | date:'HH:mm'}}</td>
                    <td scope = 'row'>{{item.Secuencias_Activos[item.orden_secuencia].varvulas}}</td>
                    <td><button class="btn  btn-outline-light" (click)="open(content,item)"> Info </button> </td>
                </tr>
                
            </ng-container>
            <ng-template #elseTemplate>
                <th colspan="8" style="text-align : center"> <p> ---------------------------------------- VACIO------------------------------------- </p></th>
             </ng-template>
        </tbody>
    </table>
    </div>
    <div class="d-flex justify-content-between p-2" style="border-box; background-color: gray;">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
        
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="4">4 Programas</option>
            <option [ngValue]="8">8 Programas</option>
            <option [ngValue]="12">12 Programas</option>
        </select>
    </div>
    
    <ng-template #content let-c="close" let-d="dismiss">
        <div class = 'container-fluid' style="background-color: oldlace;">
        <h2  class = "titulos" > Id : {{ProgramaActivoVisionado.id}}</h2>
        <h3  class = "titulos principal"> Inicio: {{ProgramaActivoVisionado.Inicio | date:'HH:mm'}} - {{ProgramaActivoVisionado.Final | date:'HH:mm'}}</h3>
        <h4  class = "titulos principal"> Secuencia Ac: {{ProgramaActivoVisionado.orden_secuencia}}</h4>
        <div class="scrollme">
        <table  class = "table table-bordered table-dark">
                <thead>
                <tr> <!-- encabezado de tabla -->
                    <td class = "EncabezadoTablas" colspan="4">Secuencias Activas</td> 
                    <td class = "EncabezadoTablas" colspan="4">Abonos</td> 
                </tr>
                <th scope = 'col'> nº </th>
                <th scope = 'col'> Inicio </th>
                <th scope = 'col'> Final </th>
                <th scope = 'col'> Varvulas </th>
                <th scope = 'col'> N programa</th>
                
            
                </thead>
                <tbody *ngFor="let item of ProgramaActivoVisionado.Secuencias_Activos; let i = index" >
                    <td  scope = 'col'  [ngClass]="{'parpadea text': item.estado == 1}" >{{i}}</td>
                    <td  scope = 'col'  [ngClass]="{'parpadea text': item.estado == 1}">{{item.Inicio | date:'HH:mm'}}</td>
                    <td  scope = 'col'  [ngClass]="{'parpadea text': item.estado == 1}">{{item.Final  | date:'HH:mm'}}</td>
                    <td  scope = 'col'  [ngClass]="{'parpadea text': item.estado == 1}">{{item.varvulas}}</td>
                    <td  scope = 'col'  [ngClass]="{'parpadea text': item.estado == 1}">{{item.ProgramasActivoId}}</td>
                        <table class = "table  table-bordered table-dark" >
                            <thead>
                                <tr>
                                    <td scope = 'col'> Inicio </td>
                                    <td scope = 'col'> Final </td>
                                    <td scope = 'col'> Varvulas </td>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item_A of item.Abonos_Activos">
                                <tr>
                                    <th  scope = 'col' >{{item_A.Inicio | date:'HH:mm'}}</th>
                                    <td  scope = 'col'>{{item_A.Final  | date:'HH:mm'}}</td>
                                    <td  scope = 'col'>{{item_A.varvulas}}</td>
                                </tr>
                            </tbody>
                        </table>
                </tbody>
        </table>
        </div>
        
        <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Close</button>
            </div>
    </div>
    </ng-template>
    