.EncabezadoTablas {
    text-align: center; 
    background-color: dimgray; 
    color: aliceblue;
}

.scrollme {
  overflow-x: auto;
}

.text {
    font-weight:bold;
    color: red;
    text-transform:uppercase;
    background-color: white; 
  }



.titulos{
    text-align: center;
    font-size: 50px;

}

.titulos.principal{
    font-size: 25px;
}

.scrollme {
    overflow-x: auto;
}