.EncabezadoTablas {
    text-align: center; 
    background-color: dimgray; 
    color: aliceblue;
}

.titulos{
    text-align: center;
    font-size: 50px;

}

.titulos.principal{
    font-size: 25px;
}

.scrollme {
    overflow-x: auto;
}

