<div class = 'container-fluid' style="background-color: oldlace;">
    <div class = 'row'>
        <div class = 'col'  style = 'padding: 0px;'>
            <div class="scrollme">
            <table class = "table table-bordered table-dark " style="margin:0px;" > 
                <thead>
                    <tr> <!-- encabezado de tabla -->
                        <td class = "EncabezadoTablas" colspan="4">Programas</td> 
                    </tr>
                    <tr>
                        <th scope="col">nº</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Dias</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
            
                <tbody *ngFor="let item of countries; let i = index" align="center">
                    <tr [ngClass]="{'selected': i == SelectedPrograma}">
                        <th scope = "row"> {{i}}</th>
                        <td>{{ item.inicio | date: 'HH:mm' }}</td>
                        <td><span *ngFor="let items of item.Dias">  {{DiasName[items]}}  </span>    <span></span></td>
                        <td><button class="btn  btn-outline-light" (click)="open(longContent,item)"> Info </button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
            <div class="d-flex justify-content-between p-2" style="border-box; background-color: gray;">
            
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
              
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                    <option [ngValue]="8">8 Programas </option>
                    <option [ngValue]="16">16 Programas</option>
                    <option [ngValue]="32">32 Programas</option>
                </select>
            </div>
            
              
              <ng-template #longContent  let-c="close" let-d="dismiss" style="background-color: blanchedalmond;">
                <div class = 'container' style="background-color: oldlace;">
                <div class = 'model-header'>
                    <div  class = 'titulos'> Programa </div>
                </div>
            
                <div class = "titulos"> {{ProgramaVisionado.inicio | date:'HH:mm'}}</div >
                <div class = "titulos principal"> <span  *ngFor="let items of ProgramaVisionado.Dias">  {{DiasName[items]}}  </span>  </div >
                <div class="scrollme">
                <table class = 'table table-bordered table-dark' >
                    <thead>
                        <tr> 
                            <td class = "EncabezadoTablas" colspan="5">Secuencias</td> 
                            <td class = "EncabezadoTablas" colspan="3">Abonos</td> 
                        </tr>
                        <th scope = 'col'> nº        </th>
                        <th scope = 'col'> Preriego  </th>
                        <th scope = 'col'> Varvulas  </th>
                        <th scope = 'col'> Duracion  </th>
                        <th scope = 'col'> nº Abonos </th>
                    </thead>
                    <tbody *ngFor="let secu of ProgramaVisionado.Secuencias; let j=index">
                        <tr>
                            <th scope = 'col'> {{j}}  </th>
                            <td scope = 'col'> Tiempo ON {{ secu.preriego * 1000*60 | date:'H:mm':'UTC'}}  </td>
                            <td scope = 'col'> <span *ngFor="let items of secu.varvulas"> <span *ngIf="items" > {{items}} </span> </span>    <span></span></td>
                            <td scope = 'col' *ngIf=" secu.PorCaudal == false">Tiempo ON {{ secu.duracion * 1000*60 | date:'H:mm':'UTC'}}</td>
                            <td scope = 'col' *ngIf=" secu.PorCaudal == true">{{secu.DCaudal}} Litros/Hora </td>
                            <td scope = 'col'> {{secu.Abonos.length}}</td>
                            <table class = "table  table-bordered table-dark">
                                <thead>
                                    <th scope = 'col'> nº</th>
                                    <th scope = 'col'> Varvulas  </th>
                                    <th scope = 'col'> Duracion  </th>
                                </thead>
                                <tbody *ngFor="let abo of secu.Abonos; let k=index" >
                                    <tr>
                                        <th scope = 'row'> {{k}}  </th>
                                        <td><span *ngFor="let items of abo.varvulas"> <span *ngIf="items" > {{items}} </span> </span>    <span></span></td>
                                        <td>Tiempo ON {{ abo.duracion * 1000*60 | date:'H:mm':'UTC'}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="delete(ProgramaVisionado)">Eliminar</button>
                    <button type="button" class="btn btn-light" (click)="d('Cross click')">Close</button>
                </div>
            </div> 
                </ng-template>
        </div>
        <div class = 'col' style = 'padding: 0px; '>
            <app-programas-activos></app-programas-activos>
        </div>
    </div>

    
</div>


<div class = "col" style="padding:  0px;">
    <app-telemetria></app-telemetria>
</div>


