.tanques {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.Indicador {
    transform: rotate(90deg);
}
.divisor {
    height: 144px;
    width: 1px;
    background-color: black;
}

.t-individual{
    display: flex;
    flex-direction: column;
    align-items: center;

    p { 
        color: white;
        text-align: center;
        margin: 0%;
    }
}

.wrapper {
    width: 50px;
    height: 100px;
    margin: 0.75rem;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /*transform: translate(-50%, -50%);*/
    border-radius: 5px;
    background-image: linear-gradient(to top, #0178ff 0%, #71acff 100%);
    overflow: hidden;
    p { 
        color: black;
        top: -20%;
        text-align: center;
        margin: 0%;
        position: relative;
    }
   
  }
  
  .wave {
    width: 102px;
    height: 100px;
    /* position: absolute; */
    top: -27%;
    left: -63%;
    margin-left: -31px;
    margin-top: -35px;
    border-radius: 35%;
    background: rgba(255, 255, 255, 0.75);
    animation: wave 15s infinite linear;
  }
  
  @keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
  }