
$color1: #306D85;
$color2: #D93A54;

.engine {
    width: 30px;
    height: 30px;
    //position: absolute;
    display: inline-block;
    position: relative;
    margin-top: 32px;
    left: 53px;
    background-color: #bc243d;
    border-radius: 50%;
    border: 5px solid #D93A54;

    &:after, &:before {
        //position: absolute;
        content: "";
        border-radius: 2px;
        background-color: white;
        animation:spin 900ms linear infinite;
        opacity:0.8;
      }
      &:after {
        top:8px;
        width: 20px;
        height: 4px;
        
      }
      &:before {
        left:8px;
        width: 4px;
        height: 20px;
        
      }
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}


