<style>
    canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
    }
</style>

<div class = "container-fluid">
    <div class = "row"> 
           
            <div class="card">
                    <canvas id="canvas">{{ chart }}</canvas>
                    <div class="card-content">
                            <h3>Telemetria Diaria</h3>
                            <p>Esta gráfica muestra información del clima de las ultimas 24 horas</p>
                    </div>
            </div>
    </div>
    <div class = "row">         
            <div class="card">
                    <canvas id="chart_month">{{ chart_month }}</canvas>
                    <div class="card-content">
                            <h3>Telemetria mensual</h3>
                            <p>Esta gráfica muestra la media mensual</p>
                            <select [(ngModel)]="seleciona_mes" class = "form-control form-control-lg">
                                    <option [value] = "item_mes.n" *ngFor = "let item_mes of lista_Mes">{{item_mes.str}}</option>
                            </select>
                            <select  [(ngModel)]="seleciona_year" class="form-control form-control-lg">
                                    <option [value] = "item_year" *ngFor = "let item_year of lista_Year">{{item_year}}</option>
                            </select>
                            <button type="button" class="btn btn-primary mb-2 w-100 p-1 " (click) = "search()" style="width: 100%"> Busqueda </button> 
                    </div>
            </div>

    </div>
            
    
</div>
