@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-cloud:before { content: "\f100"; }
.flaticon-002-rainy:before { content: "\f101"; }
.flaticon-003-snowy:before { content: "\f102"; }
.flaticon-004-rainbow:before { content: "\f103"; }
.flaticon-005-sun:before { content: "\f104"; }
.flaticon-006-night:before { content: "\f105"; }
.flaticon-007-hot:before { content: "\f106"; }
.flaticon-008-cold:before { content: "\f107"; }
.flaticon-009-cloudy:before { content: "\f108"; }
.flaticon-010-cloudy-day:before { content: "\f109"; }
.flaticon-011-cloudy-night:before { content: "\f10a"; }
.flaticon-012-windy:before { content: "\f10b"; }
.flaticon-013-thunder:before { content: "\f10c"; }
.flaticon-014-windy:before { content: "\f10d"; }
.flaticon-015-tornado:before { content: "\f10e"; }
.flaticon-016-mist:before { content: "\f10f"; }
.flaticon-017-umbrella:before { content: "\f110"; }
.flaticon-018-sunset:before { content: "\f111"; }
.flaticon-019-sunrise:before { content: "\f112"; }
.flaticon-020-wind-vane:before { content: "\f113"; }
.flaticon-021-rain:before { content: "\f114"; }
.flaticon-022-humidity:before { content: "\f115"; }
.flaticon-023-wind-vane:before { content: "\f116"; }
.flaticon-024-eclipse:before { content: "\f117"; }
.flaticon-025-snow:before { content: "\f118"; }