<div type="pills">
    <div title = "Caudalimetro">
            <ng-template ngbTabContent>
            <table class = "table table-striped  table-sm" width="520"> 
                <thead class="thead-dark table"  align="center" >
                    <tr> <!-- encabezado de tabla -->
                        <td class = "EncabezadoTablas" colspan="7">Caudalimetros</td> 
                    </tr>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Factor_K</th>
                        <th scope="col">NT_Litro</th>
                        <th scope="col">PIN</th>
                        <th scope="col">Salida</th>
                        <th scope="col">C_TOTAL</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
            
                <tbody>
                    <td> <input id = "Name" type="text"    class="form-control" [(ngModel)] = "Caudal.Nombre"> </td>
                    <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Caudal.Factor_K"> </td>
                    <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Caudal.NT_Litro"> </td>
                    <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Caudal.PIN"> </td>
                    <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Caudal.Salida"> </td>
                    <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Caudal.C_TOTAL"> </td>
                    <td> <button class="btn btn-secondary" (click)="addCaudalimetro()"> Ins Sensor </button> </td>

                    <tr *ngFor="let cau of TabCaudal.rows; let i = index"  align="center">
                        <td scope = "row"> {{cau.Nombre}}</td>
                        <td scope = "row"> {{cau.Factor_K}}</td>
                        <td scope = "row"> {{cau.NT_Litro}}</td>
                        <td scope = "row"> {{cau.PIN}}</td>
                        <td scope = "row"> {{cau.Salida}}</td>
                        <td scope = "row"> {{cau.C_TOTAL}}</td>
                        <td><button type="button" class="btn btn-danger"  (click) = "delete()" > Borrar </button> </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize[0]" [(page)]="page[0]" [pageSize]="pageSize[0]">
                </ngb-pagination>
              
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize[0]">
                    <option [ngValue]="2">2 Elementos en la pagina</option>
                    <option [ngValue]="4">4 Elementos en la pagina</option>
                    <option [ngValue]="6">6 Elementos en la pagina</option>
                </select>
              </div>
            </ng-template>
    </div>

    <div title = "Presion" >
        <ng-template ngbTabContent>
            <div>
                <h3> Info Presion </h3>
                <div class = "form-input form-check-inline" style="align-content: center;">
                    <label *ngFor="let item of AMP; let i = index" > A{{i}} : {{item}}  </label> 
                </div>
            </div>


        <table class = "table table-striped  table-sm" width="520"> 
            <thead class="thead-dark table"  align="center" >
                <tr> <!-- encabezado de tabla -->
                    <td class = "EncabezadoTablas" colspan="7">Barimetros</td> 
                </tr>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">PIN</th>
                    <th scope="col">V_AMP_MIN</th>
                    <th scope="col">V_REF_MIN</th>
                    <th scope="col">V_AMP_MAX</th>
                    <th scope="col">V_REF_MAX</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <td> <input id = "Name" type="text"    class="form-control" [(ngModel)] = "Presion.Nombre"> </td>
                <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Presion.PIN"> </td>
                <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Presion.V_AMP_MIN"> </td>
                <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Presion.V_REF_MIN"> </td>
                <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Presion.V_AMP_MAX"> </td>
                <td> <input id = "Name" type="number"  class="form-control" [(ngModel)] = "Presion.V_REF_MAX"> </td>
                <td> <button class="btn btn-secondary" (click)="addPresion()"> Ins Sensor </button> </td>

            <tr *ngFor="let cau of TabPresion.rows; let i = index"  align="center">
                <td scope = "row"> {{cau.Nombre}}</td>
                <td scope = "row"> {{cau.PIN}}</td>
                <td scope = "row"> {{cau.V_AMP_MIN}}</td>
                <td scope = "row"> {{cau.V_REF_MIN}}</td>
                <td scope = "row"> {{cau.V_AMP_MAX}}</td>
                <td scope = "row"> {{cau.V_REF_MAX}}</td>
                <td><button type="button" class="btn btn-danger"  (click) = "delete()" > Borrar </button> </td>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize[0]" [(page)]="page[0]" [pageSize]="pageSize[0]">
            </ngb-pagination>
          
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize[0]">
                <option [ngValue]="2">2 Elementos en la pagina</option>
                <option [ngValue]="4">4 Elementos en la pagina</option>
                <option [ngValue]="6">6 Elementos en la pagina</option>
            </select>
          </div>
          </ng-template>
    </div>
</div>
