.EncabezadoTablas {
    text-align: center; 
    background-color: dimgray; 
    color: aliceblue;
}

.scrollme {
  overflow-x: auto;
}

.text {
    font-weight:bold;
    color: red;
    text-transform:uppercase;
    background-color: white;

    
    
  }



.titulos{
    text-align: center;
    font-size: 50px;

}

.titulos.principal{
    font-size: 25px;
}

.scrollme {
    overflow-x: auto;
}


  .parpadea {
    
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }