<div class = 'container-fluid' style="background-color: oldlace;">
    <div class = 'row'>
        <div class = 'col'  style = 'padding: 0px;'>
            <div class="scrollme">
            <table class = "table  table-bordered table-dark " style="margin:0px;" > 
                <thead>
                    <tr> <!-- encabezado de tabla -->
                        <td class = "EncabezadoTablas" colspan="4"> </td> 
                    </tr>
                    <tr>
                        <th scope="col">nº</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Dias</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
               
                
                <tbody>
                    <ng-container *ngIf="TabPrograma.length > 0; else elseTemplate">
                        <tr  *ngFor="let item of TabPrograma; let i = index" align="center" [ngClass]="{'selected': i == SelectedPrograma}">
                            <th scope = "row"> {{i}}</th>
                            <td>{{ item.inicio | date: 'HH:mm' }}</td>
                            <td><span *ngFor="let items of item.Dias">  {{DiasName[items]}}  </span>    <span></span></td>
                            <td><button class="btn  btn-light" (click)="open(longContent,item)"> 
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                                </svg> 
                            </button>
                            <button class = "btn btn-warning" (click) = "edit(item)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                              </svg>
                            </button>
                            <button type="button" class="btn btn-danger"  (click) = "Borrado(item)" > 
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button> 
                        </td>
                        </tr>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <th colspan="4" style="text-align : center"> <p> ---------------------------------------- VACIO------------------------------------- </p></th>
                    </ng-template>
                    
                </tbody>
            </table>
        </div>
            <div class="d-flex justify-content-between p-2" style="border-box; background-color: gray;">
            
                <ngb-pagination [collectionSize]="conjuntoSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
              
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                    <option [ngValue]="8">8 Programas </option>
                    <option [ngValue]="16">16 Programas</option>
                    <option [ngValue]="32">32 Programas</option>
                </select>
            </div>
            
              
              <ng-template #longContent  let-c="close" let-d="dismiss" style="background-color: blanchedalmond;">
                <div class = 'container' style="background-color: oldlace;">
                <div class = 'model-header'>
                    <div  class = 'titulos'> Programa </div>
                </div>
            
                <div class = "titulos"> {{ProgramaSelec.inicio | date:'HH:mm'}}</div >
                <div class = "titulos principal"> <span  *ngFor="let items of ProgramaSelec.Dias">  {{DiasName[items]}}  </span>  </div >
                <div class="scrollme">
                <table class = 'table table-bordered table-dark' >
                    <thead>
                        <tr> 
                            <td class = "EncabezadoTablas" colspan="5">Secuencias</td> 
                            <td class = "EncabezadoTablas" colspan="3">Abonos</td> 
                        </tr>
                        <th scope = 'col'> nº        </th>
                        <th scope = 'col'> Preriego  </th>
                        <th scope = 'col'> Varvulas  </th>
                        <th scope = 'col'> Duracion  </th>
                        <th scope = 'col'> nº Abonos </th>
                    </thead>
                    <tbody *ngFor="let secu of ProgramaSelec.Secuencias; let j=index">
                        <tr>
                            <th scope = 'col'> {{j}}  </th>
                            <td scope = 'col'>  {{ secu.preriego * 1000*60 | date:'H:mm':'UTC'}}  </td>
                            <td scope = 'col'> <span *ngFor="let items of secu.varvulas"> <span *ngIf="items" > {{items}} </span> </span>    <span></span></td>
                            <td scope = 'col' *ngIf=" secu.PorCaudal == false">  {{ secu.duracion * 1000*60 | date:'H:mm':'UTC'}}</td>
                            <td scope = 'col' *ngIf=" secu.PorCaudal == true">{{secu.DCaudal}} Litros/Hora </td>
                            <td scope = 'col'> {{secu.Abonos.length}}</td>
                            <table class = "table  table-bordered table-dark">
                                <thead>
                                    <th scope = 'col'> nº</th>
                                    <th scope = 'col'> Varvulas  </th>
                                    <th scope = 'col'> Duracion  </th>
                                </thead>
                                <tbody *ngFor="let abo of secu.Abonos; let k=index" >
                                    <tr>
                                        <th scope = 'row'> {{k}}  </th>
                                        <td><span *ngFor="let items of abo.varvulas"> <span *ngIf="items" > {{items}} </span> </span>    <span></span></td>
                                        <td>Tiempo ON {{ abo.duracion * 1000*60 | date:'H:mm':'UTC'}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="d('Cross click')">Close</button>
                </div>
            </div> 
                </ng-template>
        </div>
    </div>

    
</div>



