<!-- Barra frontal 
    Esta barra muestra las diferentes opciones de configuracion.
      * Añadir un programa. 
      * etc
    Muestra la fecha actual de sistema.
    <div class="navbar-brand" id = 'reloj' > {{FECHA | date:'medium'}} </div>
-->

<nav class="navbar  navbar-expand-sm  navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=""> Arduino Riego </a>
 
  <ul class="navbar-nav mr-auto"> 
    <li class="nav-item active">
      <a class="nav-link"  routerLink="add">Insertar Programa</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink = "configuracion">Configuracion </a>
    </li>
    <li class = "nav-item active">
      <a class="nav-link" routerLink = "grafica"> Graficas </a>
    </li>
  </ul>

  <div class="nav-item" id='reloj' style="color: aliceblue;" > {{FECHA | date:'HH:mm:ss   EEEE, MMM d, y'}} </div>
  <div class="nav-item" id='icon_we'><img [src]="clima" [ngClass]="clima"> {{texto}}Cº </div>

</nav>
<div id = fondo >
  <app-alertas></app-alertas>
  <router-outlet></router-outlet>
  <footer class = "page-footer">
    <nav class="navbar  navbar-expand-sm  navbar-dark bg-dark">
      <a class="navbar-brand" routerLink=""> AR </a>
      <div class = "nav-item" id='agr'> 
        <small>Iconos diseñados por</small> 
        <a href="https://www.flaticon.es/autores/bqlqn" title="bqlqn"> bqlqn </a> <small> en </small>  <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
      </div>
    </nav>
  </footer>
</div>
