<!-- Barra frontal 
    Esta barra muestra las diferentes opciones de configuracion.
      * Añadir un programa. 
      * etc
    Muestra la fecha actual de sistema.
    <div class="navbar-brand" id = 'reloj' > {{FECHA | date:'medium'}} </div>
-->
<nav class="navbar  navbar-expand-sm  navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=""> Arduino Riego </a>
 
  <ul class="navbar-nav mr-auto"> 
    <li class="nav-item active">
      <a class="nav-link"  routerLink="insertarPrograma">Insertar Programa</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink = "configuracion ">Configuracion </a>
    </li>
    <li class = "nav-item active">
      <a class="nav-link" routerLink = "Graficas"> Graficas </a>
    </li>
  </ul>

  <div class="nav-item" id='reloj' style="color: aliceblue;" > {{FECHA |date:'HH:mm:ss   EEEE, MMM d, y'}} </div>

</nav>