<div class = "rounded p-sm-4 .-sm-4">
    <div class = "form-input form-check-inline" style="align-content: center;">
        <div class="input-group-prepend col-xs-4  p-sm-1 m-sm-1  rounded"  style="background-color: white;"> 
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Tiempo 24H</span>
            </div>

            <input id="FechaIni" [(ngModel)]="time" type="time" class = "form-control pr-6" placeholder="HH:mm" min="00:00" max="24:00" required >
        </div>
    </div>

    <div class="form-check form-check-inline" style="padding: 10px;">
        <div  *ngFor="let item  of DiaSemana" style="padding: 5px;"> 
            <input class="form-check-input" type="checkbox" [(ngModel)]="item.valor">
            <label class="form-check-label">{{item.name}}</label>
        </div>
    </div>

    <button type="button" class="btn btn-primary mb-2 w-100 p-1 " (click) = "addPrograma()" style="width: 100%"> Nuevo Programa </button> 

    <table class = "table table-bordered table-dark">
        <thead>
            <tr>
                <td class = "Encabezado" colspan="8"> Secuencia </td>
            </tr>
            <tr>
                <th scope="col" *ngFor="let item of Col_Secuencia">{{item}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"> {{Secuencias.length}}</th>
                <td id = "pr"><input type="number" class = "form-control " [(ngModel)]="_ProSecuencia"></td>
                <td><ng-multiselect-dropdown [settings] = "dropdownSettings" [data] = "_Varvulas" [(ngModel)] = "_VarvulasSelec"></ng-multiselect-dropdown></td>
                <td id = "pr"> <input class="check-input" type="checkbox" [(ngModel)]="_DC"><label class="check-label">¿Caudal?</label></td>
                <td id = "pr"> <input type = "number"  class="form-control" [(ngModel)]="_DSecuencia"> </td>
                <td><ng-multiselect-dropdown [settings] = "dropdownSettings" [data] = "_Abonos" [(ngModel)] = "_AbonosSelec" ></ng-multiselect-dropdown></td>
                <td id = "pr">
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-warning" (click) = "clearSec()">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.83 6.706a5 5 0 0 0-7.103-3.16.5.5 0 1 1-.454-.892A6 6 0 1 1 2.545 5.5a.5.5 0 1 1 .91.417 5 5 0 1 0 9.375.789z"/>
                                <path fill-rule="evenodd" d="M7.854.146a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 1 0 .708-.708L5.707 3 7.854.854a.5.5 0 0 0 0-.708z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-primary" (click) = "ADD_Secuencia()">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8" *ngIf = "Secuencias.length == 0" style="text-align : center">  -------------------------------------------- VACIO -------------------------------------- </td>
            </tr>

            <tr *ngFor="let item of Secuencias; let posicion = index">
                <td> {{item.id}}</td>
                <td> {{ item.preriego * 1000*60 | date:'H:mm':'UTC'}}</td>
                <td> {{item.varvulas}}</td>
                <td> <div *ngIf="item.PorCaudal; else elseBlock">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="align-content: center;">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                      </svg>
                </div>
                    <ng-template #elseBlock>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="align-content: center;">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                          </svg>
                    </ng-template></td>
                <td *ngIf = "item.PorCaudal == false "> {{ item.duracion * 1000*60 | date:'H:mm':'UTC'}}</td>
                <td *ngIf = "item.PorCaudal == true ">{{item.duracion}} Litros/Hora </td>
                <td *ngIf = "item.Abonos.length != 0" > <span *ngFor="let ele of item.Abonos">A:{{ ele.idA }}</span> </td>
                <td *ngIf = "item.Abonos.length == 0" > <span style="text-align: center;">----VACIO----</span> </td>
                <td><button type="button" class="btn btn-danger"  (click) = "BorradoSecuencia(posicion)" > 
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button> </td>
            </tr>
        </tbody>
    </table>

    <table class = "table table-bordered table-dark">
        <thead>
            <tr>
                <td class = "Encabezado" colspan="5"> Abonos </td>
            </tr>
            <tr>
                <th scope="col" *ngFor="let item of Col_Abonos">{{item}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"> {{Abonos.length}}</th>
                <td><ng-multiselect-dropdown [settings] = "dropdownSettings" [data] = "_VarvulasAB" [(ngModel)] = "_VarvulasSelecAB"></ng-multiselect-dropdown></td>
                <td id = "pr"> <input type = "number"  class="form-control" [(ngModel)]="_DAbono"> </td>
                <td id = "pr">
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-warning" (click) = "clearAbo()">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.83 6.706a5 5 0 0 0-7.103-3.16.5.5 0 1 1-.454-.892A6 6 0 1 1 2.545 5.5a.5.5 0 1 1 .91.417 5 5 0 1 0 9.375.789z"/>
                                <path fill-rule="evenodd" d="M7.854.146a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 1 0 .708-.708L5.707 3 7.854.854a.5.5 0 0 0 0-.708z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-primary"  (click) = "ADD_Abono()">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" *ngIf = "Abonos.length == 0" style="text-align : center">  -------------------------------------------- VACIO -------------------------------------- </td>
            </tr>
            <tr *ngFor="let item of Abonos; let posicion = index">
                <td>{{item.idA}}</td>
                <td>A:{{item.varvulas}}  </td>
                <td>{{ item.duracion * 1000*60 | date:'H:mm':'UTC'}}</td>
                <td><button type="button" class="btn btn-danger"   (click) = "BorradoAbono(posicion)" > 
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button></td>
            </tr>

            
        </tbody>
    </table>
</div>