
<div id="fondo">
<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">
            Riegos Activos
          </button>
        </h2>
      </div>
  
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card-body">
            <programas-activos></programas-activos>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
            Programas Guardados
          </button>
        </h2>
      </div>
      <div  class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card-body">
          <programas></programas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn  btn-block text-left collapsed"  type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
            Telemetria
          </button>
        </h2>
      </div>
      <div  class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="card-body">
          <app-telemetria></app-telemetria>
        </div>
      </div>
    </div>
  </div>

</div>